h1{         
    text-align: center;
    color: gray;
}

.container {
  display:flex;
  /*flex-direction: row;*/
  justify-content: center;
  align-items: center;
}

input {
width: 162px;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100px;
}

a:hover, a:active {
  background-color: red;
}